<%- layout("/layouts/boilerplate") %> 

<div class="row">
    <div class="col-6 offset-3">
        <h1>Login</h1>
        <form action="/login" method="post" class="validated-form" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username:</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="username" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password:</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="password" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <button class="btn btn-success">Login</button>
        </form>
    </div>
</div>